.root-container {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, rgb(252, 103, 44), #f8c6a9);
  height: 100%;
  margin: 0;
  color: #555;
}

.styled-formwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.styled-form {
  width: 100%;
  max-width:500px;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.styled-button {
  margin-top: 20px;
  background-color: #f7797d;
  color: #fff;
  font-size: 0.9rem;
  border: 0;
  border-radius: 5px;
  height: 30px;
  padding: 0 20px;
  cursor: pointer;
  box-sizing: border-box;
}